<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<body>

  <%- include ('partials/_header') %>
  <!--A login form-->
  <div class="register-container" style="margin-left: 20px; margin-top: 70px;">
    <h1>Login</h1><br><br>
    <form action="/login" method="POST">
      <span>Email:</span>&nbsp;&nbsp;&nbsp;<input type="email" name="email" placeholder="example@gmail.com"><br><br>
      <span>Password: &nbsp;</span><input type="password" name="password">
      <button type="submit">Submit</button>
    </form>
  </div>
</body>

</html>